*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/iron-honeycombs.png");
  background-attachment: fixed;
}

.conteiner {
  min-height: 100px;
  min-width: 85vw;
}

.add_to_cart_button {
  width: 100%;
  height: 30px;
  border:#8B0000 1px solid;
  border-radius: 2px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.473);
  display: flex;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
}

.modal-overlay.active{
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

.modal-window {
  background-color: silver;
  width: 300px;
  min-height: 120px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  padding-bottom: 24px;
  transform: scale(0.5);
  transition: 0.4s;
}

.modal-window.active{
  transform: scale(1);
}

.modal-window > p {
  text-align: center;
}

.x-close {
  cursor: pointer;
  height: 20px;
  width: 20px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 5px;
  padding-left: 15px;
  
}

.modalHeader {
  background-color: rgba(0, 0, 0, 0.384);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  padding: 15px 10px 10px 15px;
  justify-content: space-between;
}

.actionsBtnConteiner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
}

.actionsBtn {
  height: 40px;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.384);
  border-radius: 4px;
  border: 0;
}

.product_Img {
  /* filter: grayscale(100%); */
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
 }

.product_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}


.product_item {
  border: rgba(255, 255, 255, 0.096) 0.5px solid ;
  display: flex;
  flex-direction: column;
  padding: 10px 15px 30px 15px;
}

.product_price_and_favIco {
  display: grid;
}

.star-icon{
  width: 50%;
  justify-self: end;
  border: 0;
  background: none;
  grid-column-start: 2;
  grid-row-start: 1; 
  grid-row-end: 3;
  cursor: pointer;
}

.star-icon:focus{
  border: none;
}

.svg-inline--fa.fa-w-18 {
  width: 2.25em;
}

.svg-inline--fa {
    height: 2.25em;
}

button:focus {
  outline: none;
}

header {
  height: 50px;
  background-image: url("img/dark-gray-grain-hexagons.png");
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header a{
  color: #c0c0c0;
  font-size: 30px;
  padding: 20px;
  text-decoration: none;
}

a.active{
  color: #8B0000;
  cursor: default;
}