*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.conteiner {
  min-height: 100px;
  width: 80vw;
}

.add_to_cart_button {
  width: 100%;
  height: 30px;
  background-color: blanchedalmond;
  border: 1px solid rgb(184, 160, 126);
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.473);
  display: flex;
  justify-content: center;
}

.modal-window {
width: 300px;
height: 200px;
border-radius: 5px;
position: relative;
display: flex;
flex-direction: column;
justify-content: space-between;
align-self: center;
padding-bottom: 24px;
}

.modal-window > p {
  text-align: center;
}

.x-close {
  cursor: pointer;
  height: 20px;
  width: 20px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 5px;
  padding-left: 15px;
  
}

.modalHeader {
  background-color: rgba(0, 0, 0, 0.384);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  padding: 15px 10px 15px 15px;
  justify-content: space-between;
}

.actionsBtnConteiner {
  display: flex;
  justify-content: space-evenly;
}

.actionsBtn {
  height: 40px;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.384);
  border-radius: 4px;
  border: 0;
}

.product_Img {
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
 }

.product_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}


.product_item {
  border: rgba(0, 0, 0, 0.096) 0.5px solid ;
  display: flex;
  flex-direction: column;
  padding: 10px 15px 30px 15px;
}

.product_price_and_favIco {
  display: grid;
  /* grid-template-columns: 80% 1fr;
  grid-template-rows: 50%; */
}

.fav-ico{
  width: 50%;
  justify-self: end;
  border: 0;
  background: none;
  grid-column-start: 2;
  grid-row-start: 1; 
  grid-row-end: 3;
}

.svg-inline--fa.fa-w-18 {
  width: 2.25em;
}

.svg-inline--fa {
    height: 2.25em;
}